@model IEnumerable<ReversiMvcApp.Models.Speler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalGewonnen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalVerloren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalGelijk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalGewonnen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalVerloren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalGelijk)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
